a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
body {
    height: 90vh;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    height: 100px;
}

#timedate {
    flex: 1;
    text-align: center;
}

#marcadores {
    display: flex;
    flex-direction: column;
    height: 80%;

}

#categorias {
    display: flex;
    justify-content: center;
}

#noticias, #streaming, #cursos, #trabajo, #recursos{
    display: flex;
    flex-direction: column;
    padding: 50px 0px 50px 50px;
    margin: 5% 20%;
    border-radius: 15px;
    background-color: #eff0f1;
}

#noticias {
    border: 5px solid #b0f2c2;
}

#streaming {
    border: 5px solid #fdfd96;
}

#cursos {
    border: 5px solid #b0c2f2;
}

#trabajo {
    border: 5px solid #b2e2f2;
}

#recursos {
    border: 5px solid #ffda9e;
}

input[type=button] {
    margin: 10px;
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.cursos{
    background-color: #b0c2f2;
}

.noticias{
    background-color: #b0f2c2;
}

.streaming{
    background-color: #fdfd96;
}

.trabajo{
    background-color: #b2e2f2;
}

.recursos{
    background-color: #ffda9e;
}

#timedate{
    font-size: 36px;
}

.separacion{
    height: 30px;
    line-height: 30px;
}

.enlace{
    margin-left: 5px;
}

.enlace:hover{
    margin-left: 10px;
}